#root {
  /* max-width: 1280px; */
  display: flex;
  flex-direction: column;
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}



.header {
  display: flex;
  background-color: lightblue;
  justify-content: center;
 
  /* margin-bottom: 900px; */
  
}

.website-name {
  font-size: 52px;
  
}

.display {
  display: flex;
  margin-top: 20px;
}

.play-both-button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.melody-header{
  display: flex;
  margin-left:  120px;;
}

.harmony-header {
  display: flex;
  margin-left:  120px;;
}




.melody-display {
  background-color: burlywood;
  margin-left: 50px;
  display: flex; /* Use flexbox to align children */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: flex-start; /* Align children to the top */
  justify-content: flex-start; /* Align children to the left */
  width: 500px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  border: 1px solid #ccc; /* Just for visibility */
  padding: 10px; /* Reduced padding to just provide a small buffer around content */
}

/* CSS for the Melody component (if it's a direct parent of the buttons) */
.Melody {
  
  display: flex; /* Use flexbox to align buttons */
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  width: 100%; /* Take the full width of the parent */
}

.harmony-display {
  background-color: lightpink;
  margin-left: 50px;
  display: flex; /* Use flexbox to align children */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: flex-start; /* Align children to the top */
  justify-content: flex-start; /* Align children to the left */
  width: 500px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  border: 1px solid #ccc; /* Just for visibility */
  padding: 10px; /* Reduced padding to just provide a small buffer around content */
}

.Harmony {
  display: flex; /* Use flexbox to align buttons */
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  width: 100%; /* Take the full width of the parent */
}
.harmony-settings {
  margin-left: 20px;
}

.octave-settings {
  background-color: lightskyblue;
  padding: 0 70px 150px 80px;
  font-weight: bold;
}


.chord-note-settings {
  background-color: lightslategrey;
  padding: 0 70px 150px 80px;
  font-weight: bold;
}

.control-section {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color: khaki;
}

.music-components {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-type-container { /* This contains the section with the note buttons */
  display: flex;
  flex-direction: column;
}

.bpm-container {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.octave-range { /* contains line showing range of the octave */
      
  height: 2px;
  background-color: #000000;
  width: 80px;
      
}

.octave-line-display {
  display: flex;
}

.octave-buttons {
  display: flex;
  justify-content: space-between;
}

.key-buttons {
  display: flex;
  justify-content: space-between;
}

.mode-buttons {
  display: flex;
  flex-direction: column;
}

.harmony-type-buttons {
  display: flex;
  flex-direction: column;
}

.harmony-octave-buttons {
  display: flex;
  flex-direction: column;
}

.melody-notes {
  margin-left: auto;
}