#root {
  /* max-width: 1280px; */
  display: flex;
  flex-direction: column;
  /* margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.header {
  display: flex;
  background-color: lightblue;
  justify-content: center;
 
  /* margin-bottom: 900px; */
  
}

.website-name {
  font-size: 52px;
  
}

.display {
  display: flex;
  margin-top: 20px;
}

.melody-display {
  background-color: burlywood;
  margin-left: 50px;
  padding: 200px 200px 200px 200px;
}

.harmony-display {
  background-color: lightpink;
  margin-left: 50px;
  padding: 200px 200px 200px 200px;
}

.harmony-settings {
  margin-left: 20px;
}

.interval-settings {
  background-color: lightskyblue;
  padding: 0 70px 150px 80px;
  font-weight: bold;
}


.chord-note-settings {
  background-color: lightslategrey;
  padding: 0 70px 150px 80px;
  font-weight: bold;
}

.control-section {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color: khaki;
}

.music-components {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-type-container { /* This contains the section with the note buttons */
  display: flex;
  flex-direction: column;
}

.octave-range { /* contains line showing range of the octave */
      
      height: 2px;
      background-color: #000000;
      width: 80px;
      
}

.octave-line-display {
  display: flex;
}

.octave-buttons {
  display: flex;
  justify-content: space-between;
}

.key-buttons {
  display: flex;
  justify-content: space-between;
}

.mode-buttons {
  display: flex;
  flex-direction: column;
}